/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
/resources/views/vendor/nova/partials/footer.blade.php
/resources/views/vendor/nova/partials/logo.blade.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
